@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageAction"] = "+ New Transactions";
}
<div class="row">
    <div class="col-md-10">
        <table class="table table-dark table-borderless table-hover h-100">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.TitleWithIcon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <div class="d-flex flex-row justify-content-start">
                                <a asp-action="CreateOrEdit" class="btn btn-sm btn-link no-a-declaration" asp-route-id="@item.TransactionId">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                <form asp-action="Delete" asp-route-id="@item.TransactionId">
                                    <button type="submit" onclick="return confirm('Are you sure to remove?')"
                                        class="btn btn-sm btn-link no-a-declaration">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <div class="rounded-4 h-100 d-flex justify-content-center align-items-center bg-gradient p-5"
            style="background-color: #1a222b;">
            <i class="fa-solid fa-cubes"></i>
        </div>
    </div>
</div>
